:root {
    --link-color: #00acc1;
    --text-color: rgb(95, 95, 95);
}

p, a, li {
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--link-color);
    border-bottom: 1px dotted var(--link-color);
    transition: color .5s, border-bottom .5s;
}

hr {
    width: 80%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 2em auto;
}

.title {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    color: var(--text-color);
    margin: 0 auto 0.8em;
    width: 80%;
}

@media screen and (max-width: 480px) {
    p, a, li {
        font-weight: 300;
    }
    
    hr {
        width: 95%;
    }

    .title {
        width: 95%;
    }
}


/* ------------------ Header ------------------ */
header {
    margin: 4% auto 0;
    align-items: center;
    width: 50%;
}

.name {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    color: var(--text-color);
}

.email {
    text-align: center;
    margin: 3% auto -4%;
}

.social-media {
    text-align: center;
    margin: 5% auto 0;
}

.social-media a {
    color: var(--text-color);
    border-bottom: none;
    font-size: 30px;
    margin: 0 5px;
}

.social-media a:hover {
    color: var(--link-color);
    border-bottom: none;
}

a:hover {
    transition: color .5s, border-bottom .5s;
    border-bottom: 1px dotted transparent;
    color: #00838f;
}

@media screen and (max-width: 480px) {
    header {
        width: 95%;
    }
}



/* ------------------ Publications ------------------ */
.paper-section {
    margin: 0 auto 4%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.paper-fig {
    width: 40%;
}

.paper-fig img, video {
    display: flex;
    margin: auto;
}

.right-side {
    width: 50%;
}

.paper-title p {
    margin: 0;
    padding: 0;
}

.paper-links {
    margin: 1em 0 0;
}

.paper-links a {
    font-size: 15px;
    color: black;
    border-style: solid;
    border-color: #9b9a9a;
    border-width: 2px;
    border-radius: 5px;
    padding: 4px;
}

.paper-links a:hover {
    text-decoration: none;
    color: var(--link-color);
    border-color: var(--link-color);
}


@media screen and (max-width: 480px) {
    .paper-section {
        width: 95%;
        flex-direction: column;
        margin: 0 auto 20%;
    }

    .paper-fig {
        width: 95%;
    }
    
    .paper-fig img, video {
        display: flex;
        margin: auto auto 0.5em;
        width: 100%;
    }
    
    .right-side {
        width: 95%;
    }
}




/* ------------------ Open Source Code ------------------ */
.code-items {
    width: 80%;
    margin: 0 auto 4%;
}

@media screen and (max-width: 480px) {
    .code-items {
        width: 95%;
    }
}
